extends layout

block content
  div(class="hero-image")
    div(class="hero-content")
      div(class="hero-content-inner")
        h1(class='homeTitle') MOTOSPOT: #{brand.name}
          p= brand.lifespan

          if brand_models.length

            p #[strong Delete the following models before attempting to delete this brand.]

            div

              h4 Models

              dl
              each model in brand_models
                dt
                  a(href=model.url) #{model.model_name}
                dd #{model.power}

          else
            p Do you really want to delete this Brand?

            form(method='POST' action='')
              div.form-group
                input#brandid.form-control(type='hidden',name='brandid', required='true', value=brand._id )

              button.btn.btn-primary(type='submit') Delete