extends layout

block content
  div(class="hero-image")
    div(class="hero-content")
      div(class="hero-content-inner")
        h1 Brand: #{brand.name}
        p(class="linkedParagraph") #{brand.lifespan}

        div

          h4 Models

          div
            dl
              each model in brand_models
                li(class="bikeSummary")
                  dt
                    a(class="linkedText" href=model.url) Name: #{model.model_name}
                  dd(class="infoText") Power: #{model.power} hp

              else
                p(class="emptyList") This brand has no models.

        hr
        p(class="linkedParagraph")
          a(class="linkedText" href=brand.url + '/delete') Delete brand
        p(class="linkedParagraph")
          a(class="linkedText" href=brand.url + '/update') Update brand
