extends layout

block content
  div(class="hero-image")
    div(class="hero-content")
      div(class="hero-content-inner")
        h1 Model Name: #{model.model_name}
        p(class="linkedParagraph") Brand:
          a(class="linkedText" href=model.brand.url) #{model.brand.name}
        p(class="linkedParagraph") Power: #{model.power} hp
        p(class="linkedParagraph") BikeType:
          each val, index in model.biketype
            a(class="linkedText" href=val.url) #{val.name}
            if index < model.biketype.length - 1
              | ,
        iframe(width="560" height="315" src="https://www.youtube.com/embed/" + model.yt_url.split('v=')[1].split('&')[0] title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)


        hr
        p(class="linkedParagraph")
          a(class="linkedText" href=model.url + '/delete') Delete Model
        p(class="linkedParagraph")
          a(class="linkedText" href=model.url + '/update') Update Model

